<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.1.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="ThreeShape.ErrorHandling" version="1.0.0" targetFramework="net462" />
  <package id="ThreeShape.Globalization" version="1.4.1" targetFramework="net462" />
  <package id="ThreeShape.Wpf" version="1.9.0" targetFramework="net462" />
</packages>